{% extends 'listToDo/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h1>Completed Todos</h1>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <div class="list-group">
            {% for todo in todos %}
                <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action{% if todo.priority %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b> - Completed {{ todo.completed|date:'M j Y H:i' }}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}