{% extends 'listToDo/base.html' %}

{% block content %}
<div style="height: 100px"></div>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1>Simply Your Todos. ToDo!</h1>
        <p>Life is fun. But life is also busy. There's a million different things you could be doing. But what matters is what you do. We created <b><i>ToDo</i></b> to help you make sense of all of your opportunities and live that life that matters most to you. Your new organized life awaits.</p>
        <a role="button" style="background-color: #055d00; border-color: #055d00" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
    </div>
</div>

{% endblock %}