{% extends "listToDo/errors/base.html" %}
{% load static %}
{% block error %}
    <div class="row mt-5 justify-content-md-center">
        <div class="col col-4 mt-5">
            <div style="justify-content: center">
                <img src="{% static "ToDo/errors/permission_denied_puzzle.png" %}">
            </div>
            <div style="text-align: center">
                <h1 class="display-1">403</h1>
                <span>Oops... Permission denied</span>
            </div>
        </div>
    </div>
{% endblock %}
